@model TeamApolloFinal.Models.Student
@{
    ViewBag.Title = "ConfirmRegister";
}
<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Changa:300|Orbitron:500|Satisfy|Ubuntu+Mono|VT323|Voltaire">
<style>
    body {
        font-family: 'Changa', sans-serif;
        font-family: 'Orbitron', sans-serif;
        font-family: 'Satisfy', cursive;
        font-family: 'Ubuntu Mono', monospace;
        font-family: 'VT323', monospace;
        font-family: 'Voltaire', sans-serif;
        font-size: 64px;
    }
</style>
<body style="font-family:'Changa' , sans-serif; font-weight:bold; font-size:30px; color:white;background-size:cover;background-repeat:no-repeat;background-image: url('../../Content/Images/confirmationregistration.jpg');">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("All Systems Go", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    
    <p style="font-family: 'Changa', sans-serif; font-size:25px; color:white; text-shadow: 2px 2px #180848;" >
       <br />
         Thank  you @Model.FirstName @Model.LastName for signing up! We are excited to see you have chosen the @Model.Track career path!
        <br />
        <br />
        We will be sending out an email each month with more @Model.Track information.
        <br />
        The IT field is an ever changing world AllSystemsGo will keep you current with monthly email updates.
    </p>
</body>