@model TeamApolloFinal.Models.Apollo

@{
    ViewBag.Title = "DeleteQuote";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("All Systems Go", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("View Quotes", "DisplayQuotes")</li>
                <li>@Html.ActionLink("View Students", "DisplayStudents")</li>
            </ul>
        </div>
    </div>
</div>
<h2>DeleteQuote</h2>

@ViewBag.DeleteStatus

<h3>Are you sure you want to delete this quote?</h3>

<div>
    <p>@Model.QuoteID ) @Model.Motivation</p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "DisplayQuotes")
    </div>
}