@model IEnumerable<TeamApolloFinal.Models.Apollo>
@{
    ViewBag.Title = "DisplayQuotes";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("All Systems Go", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("View Quotes", "DisplayQuotes")</li>
                <li>@Html.ActionLink("View Students", "DisplayStudents")</li>
            </ul>
        </div>
    </div>
</div>
<h2>DisplayQuotes</h2>

<body>

    
    <table style="width:100%">
        <tr>
            <th width="5%">ID</th>
            <th width="75%">Quote</th>
            <th width="20%">Link</th>
       </tr>
    </table>
    <table style="width:100%">
       @foreach (var quote in Model)
       {
           <tr>
               <td width="5%">@quote.QuoteID</td>
               <td width="75%">@quote.Motivation</td>
               <td width="20%">@Html.ActionLink("Delete Quote", "DeleteQuote", new { id = quote.QuoteID })</td>
           </tr>
       }
    </table>
   </body>
