@model IEnumerable<TeamApolloFinal.Models.Apollo>
@using TeamApolloFinal.Models
@{
    Layout = null;
}
@*Hello*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    <style>
        #owl-demo .item {
            margin: 3px;
        }

            #owl-demo .item img {
                display: block;
                width: 100%;
                height: auto;
            }
    </style>
    <!-- Important Owl stylesheet -->

    <link href="~/Content/OwlCarousel/owl.carousel.css" rel="stylesheet" />


    <!-- Default Theme -->

    <link href="~/Content/OwlCarousel/owl.theme.css" rel="stylesheet" />

    <!--  jQuery 1.7+  -->

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!-- Include js plugin -->

    <script src="~/Scripts/owl.carousel.min.js"></script>

    <script>
        var quotesArry = [];

        @foreach(var quote in Model) {
            <text>
        quotesArry.push(`@quote.Motivation`);
        </text>
        }



        function display() {
            //document.getElementById("quoteDiv").innerHTML = quotes[0];
            document.getElementById("quoteDiv").innerHTML = quotesArry[Math.floor((Math.random() * (quotesArry.length + 2)))];
        }
    </script>

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Changa:300|Orbitron:500|Satisfy|Ubuntu+Mono|VT323|Voltaire">
    <style>
        body {
            font-family: 'Changa', sans-serif;
            font-family: 'Orbitron', sans-serif;
            font-family: 'Satisfy', cursive;
            font-family: 'Ubuntu Mono', monospace;
            font-family: 'VT323', monospace;
            font-family: 'Voltaire', sans-serif;
            font-size: 64px;
        }
    </style>

</head>

<body style="background-image: url('../../Content/Images/Space.jpg'); height: 100%; width: auto;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AllSystemsGo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li style="font-size:medium">@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li style="font-size:medium">@Html.ActionLink("Admin Login", "LogIn")</li>
                    <li style="font-size:medium">@Html.ActionLink("Register Student", "Register")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <br />
    <h1 style="font-family:'Orbitron', sans-serif; font-size:48px; text-align:center; color:white;">AllSystemsGo</h1> 
    <h2 style="font-family:'Orbitron', sans-serif; font-size:48px; text-align:center; color:white;">A Launchpad for Your New Career in Tech!</h2>
    <br />
    

    @*@*Quotes*@


    <div id="quoteDiv" style="font-size:35px; color:white; text-align:center">@ViewBag.Quote</div>
    <center><button style="width:340px;" type="button" class="btn btn-primary btn-lg btn-block" onclick="display()">Fuel Up! Click Here For Another Quote</button>
    </center>
    <br />
    <br />
    <div>
        <h2 style="font-family: 'Orbitron', sans-serif; font-size:35px; text-align:center; color:white;"><b> Coding Resources</b></h2>
        <h3 style="font-family: 'Orbitron', sans-serif; font-size:35px; text-align:center; color:white;">Check out these reources to stay informed and organized. </h3>
    </div>
    <center>
        @using (Html.BeginForm())
        {
            @*<label style="font-weight:bold; font-size:30px; color:white;"> General</label> <input type="radio" name="track" value="everything" />*@
            <label style="font-family: 'Orbitron', sans-serif ; font-weight:lighter; font-size:30px; color:white;">Java</label>  <input type="radio" name="track" value="java" />
            <label style="font-family:  'Orbitron', sans-serif; font-weight:lighter; font-size:30px; color:white;"> .Net</label>  <input type="radio" name="track" value="net" />
            @*<label style="color:white"> javascript</label>  <input type="radio" name="track" value="javascript" />*@
            <input style="font-family:  'Orbitron', sans-serif; background-color:gold; color:navy; font-size:20px" type="submit" value="Select Track" />
        }
    </center>
    <div id="owl-demo">
        @foreach (var carouseldata in (List<CarouselData>)ViewBag.everything)
        {
            <div class="item"><a href="@carouseldata.linkUrl" target="_blank"><img src="@carouseldata.src" alt="Owl Image"></a></div>
        }
    </div>

    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                autoPlay: 3000, //Set AutoPlay to 3 seconds
                items: 4,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [979, 3]
            });
        });
    </script>
    <br />
    <h2 style="font-family: 'Orbitron', sans-serif; font-size:35px; text-align:center; color:white;"><b>AllSystemsGo TwitterFeed</b></h2>
    @*Twitter widget*@
    @*<h2 style="color:white;"></h2>*@
    
    <center>
        <table style="width:85%">
            <tr>
                <td style="width:60%">
                    <div @*style="width:50%; height:50%"*@>
                        <a class="twitter-grid" data-limit="3" href="https://twitter.com/ASG_Launchpad/timelines/788378105932951554">New Collection</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </td>
                <td style="width:40%">
                    <div>
                        <a class="twitter-timeline" data-theme="dark" data-link-color="purple" data-height="475px" href="https://twitter.com/ASG_Launchpad/timelines/788378105932951554">All Systems Go ! - Curated tweets by ASG_Launchpad</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </td>
            </tr>
        </table>
    </center>   
    <br />
    <br />

    @*Youtube API*@
    @*1. The <iframe> (and video player) will replace this <div> tag.*@
    <center>
    <div>
        <h2 style="font-family: 'Orbitron', sans-serif; font-size:35px; text-align:center; color:white;"><b>Health & Wellness</b></h2>
        <h3 style="font-family: 'Orbitron', sans-serif; font-size:35px; text-align:center; color:white;">To successfully complete your bootcamp journey check out videos for the Mind Body and Spirit!</h3>
    </div>
    <div id="player"></div>
    <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                playerVars:
                    {
                        listType: 'playlist',
                        // Insert Playlist ID
                        list: 'PLzVFFIhPmg2TOc34Vcsst4ZzTpSGdLaUo'
                    }
            });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
        }
        function stopVideo() {
            player.stopVideo();
        }
    </script>
</center>
<footer>
            <p>&copy; @DateTime.Now.Year -</p>
        </footer>



</body>
</html>
